@layer base {
  body {
    @apply bg-bodyBack dark:bg-gray-900 dark:text-gray-300 transition-all;
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 4px;
    border: 1px solid rgba(100, 125, 238, 0.096);
  }

  ::-webkit-scrollbar-thumb {
    background: #00000045;
    border-radius: 10px;
  }
}
